[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diversityArch"]
	path = diversityArch
	url = https://github.com/cran/diversityArch
[submodule "micss"]
	path = micss
	url = https://github.com/cran/micss
